<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header">
<title id="pageTitle">Lijst met recepten</title>
</head>
<body>
<img alt="oops" th:src="@{/image/money-icon.png}">
<img alt="oops" th:src="@{/image/hello.png}">
<img alt="oops" th:src="@{/image/upload/money-icon.png}">
<img alt="oops" th:src="@{/image/upload/hello.png}">
<div th:replace="fragments/navigation.html :: main-nav"></div>
	<section class="d-flex flex-column justify-content-center m-4">
		<table id="recipeList" class="table table-striped" style="width:100%" >
			<thead>
				<tr>
					<th>Id</th>
					<th>Naam</th>
					<th>Type</th>
					<th>Kenmerken</th>
					<th>Waardering</th>
					<th>Plan</th>
				</tr>
			</thead>
			<tbody>
				<tr class="mt-2" th:each="recipe : ${recipeList}">
					<td th:text="${recipe.getId()}"></td>
					<td th:text="${recipe.getName()}"></td>
					<td th:text="${recipe.recipeType.getDisplayName()}"></td>
					<td th:text="${recipe.getTagString()}"></td>
					<td class="text-center" th:text="${recipe.getRating()}"></td>
					<td>
						<form th:action="@{'/planning/' + ${recipe.id} + '/new'}"
							method="post">
							<input class="btn btn-success bg-success" role="button"
								type="submit" name="plan" value="Plan" />
						</form>
					</td>
				</tr>
			</tbody>
		</table>

	</section>
	<div th:replace="fragments/footer.html :: bootstrap4js"></div>
	<script th:src="@{/js/recipe.js}"></script>
	<script th:src="@{/js/navigation.js}"></script>
</body>
</html>