<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html :: header">
<title id="pageTitle">Lijst met maateenheden</title>
</head>

<body>

	<div th:replace="fragments/banner.html :: banner"></div>

	<div id="wrapper">
		
		<div th:replace="fragments/navigation.html :: main-nav"></div>

		<div id="content-wrapper" class="container mt-5">

			<h1 class="mb-5 pageheader">Maateenheden</h1>
			
			<table id="measureUnitList"
				class="table-warning table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Naam</th>
						<th>Meervoud</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="measureUnit : ${measureUnitList}" >
						<td th:text="${measureUnit.getId()}"></td>
						<td th:text="${measureUnit.getName()}"></td>
						<td th:text="${measureUnit.getPluralName()}"></td>
					</tr>
				</tbody>
			</table>

		</div>
		<!-- /#content-wrapper -->

	</div>
	<!-- /#wrapper -->
	<div th:replace="fragments/footer.html :: bootstrap4js"></div>
	<script th:src="@{/js/measureUnit.js}"></script>
	<script th:src="@{/js/navigation.js}"></script>

</body>
</html>