<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html :: header">
<title id="pageTitle">Ingrediënt toevoegen</title>
</head>

<body>

	<div th:replace="fragments/banner.html :: banner"></div>

	<div id="wrapper">

		<div th:replace="fragments/navigation.html :: main-nav"></div>

		<div id="content-wrapper" class="container mt-3 col-4">
			
			<form th:object="${ingredientName}"
					th:action="@{'/ingredient-name/update'} "
					method="post">
					
				<input type="hidden" th:field="*{id}" />
					
				<div class="row justify-content-center mb-3">
					<h1 class="my-5 pageheader panel-title">Voeg ingredi&euml;ntnaam toe</h1>
				</div>
						
				<div class="form-group form-row">
					<label class="col-3 col-form-label">Naam</label>
					<div class="col-9">
						<input type="text" class="form-control" th:field="*{name}"/>
					</div>
				</div>
						

				<div class="form-group form-row">
					<label class="col-3 col-form-label">Meervoudsnaam</label>
					<div class="col-9">
						<input type="text" class="form-control" th:field="*{pluralName}" />
					</div>
				</div>
						
				<div class="form-group form-row">
					<label class="col-3 col-form-label">Op voorraad</label>
					<div class="col-9">
						<input class="sized-checkbox" type="checkbox" th:field="*{stock}" th:checked="*{stock}"/>
					</div>
				</div>		

				<div class="row justify-content-center mb-3">
					<a class="btn btn-warning mx-3" th:href="@{/ingredient-name/list}">Annuleren</a>
					<button type="submit" class="mx-3 btn btn-success">Opslaan</button>
					
				</div>

			</form>

		</div>
		<!-- /#content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<div th:replace="fragments/footer.html :: bootstrap4js"></div>
	<script th:src="@{/js/navigation.js}"></script>

</body>
</html>