<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
</head>
<body>
	<!-- For now CDN, might be localized later -->
	<div th:fragment="bootstrap4js">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
	</div>
</body>
</html>