<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white"
		th:fragment="main-nav">
		<a class="navbar-brand" th:href="@{/home}"><img	th:src="@{/images/cookplanner2.jpeg}" width="50" height="50">CookPlanner |</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="ml-3 nav-item active">
					<a class="nav-link"	th:href="@{/home}">Recepten <span class="sr-only">(current)</span></a>
				</li>
				<li class=" ml-3 nav-item">
					<a class="nav-link" th:href="@{'/planning/overview'}">Planning</a>
				</li>
				<li class="ml-3 nav-item">
					<a class="nav-link" th:href="@{/ingredient-name/list}">Ingrediënten</a>
				</li>
				<li class="ml-3 nav-item">
					<a class="nav-link" th:href="@{/measure-unit/list}">Maateenheden</a>
				</li>
				
			</ul>

		</div>
	</nav>
</body>
</html>