<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<nav class="main_navbar" th:fragment="main-nav">
		<ul>
			<li><i class="fa fa-home"></i><a th:href="@{/home}">Recepten</a></li>
			<li><i class="fa fa-calendar"></i><a th:href="@{'/planning/overview'}">Planning</a></li>
			<li><i class="fa fa-shopping-cart"></i><a href="#shopping-cart">Boodschappen</a></li>
			<li><i class="fa fa-cogs"></i><a href="#cogs">Instellingen</a></li>
			<li><i class="fa fa-pagelines"></i><a th:href="@{/ingredient-name/list}">Ingrediënten</a></li>
			<li><i class="fa fa-spoon"></i><a th:href="@{/measure-unit/list}">Maateenheden</a></li>
		</ul>
	</nav>
	<script th:src="@{/js/navigation.js}"></script>
</body>
</html>