<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html :: header">
<title id="pageTitle">Lijst met ingrediënten</title>
</head>

<body>

	<div th:replace="fragments/banner.html :: banner"></div>

	<div id="wrapper">

		<div th:replace="fragments/navigation.html :: main-nav"></div>

		<div id="content-wrapper" class="container mt-5">

			<h1 class="mb-5 pageheader">Home</h1>

		</div>
		<!-- /#content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<div th:replace="fragments/footer.html :: bootstrap4js"></div>
	<script th:src="@{/js/ingredientName.js}"></script>
	<script th:src="@{/js/navigation.js}"></script>

</body>
</html>