<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header">
<title id="pageTitle">Boodschappenlijst</title>
</head>
<body>
	<div id="wrapper">
		<div th:replace="fragments/navigation.html :: main-nav"></div>
		<div id="content-wrapper" class="container mt-5">
			<div class="row justify-content-center mb-2">
				<div class="col-md-6">
					<h3 class="mt-3 ml-4">Boodschappenlijst</h3>
					<ul class="shoppinglist m-0" th:each="shopping : ${shoppingList}">
						<li class="shoppingitem" th:text="${shopping.getAsShoppingLine()}"></li>
					</ul>
				</div>
				<div class="col-md-6">
					<h3 class="mt-3 ml-4">Voorraad check</h3>
					<ul class="shoppinglist m-0" th:each="shopping : ${stockList}">
						<li class="shoppingitem" th:text="${shopping.getAsShoppingLine()}"></li>
					</ul>
				</div>
			</div>
		</div>	<!-- /#content-wrapper -->
	</div>	<!-- /#wrapper -->
	<div th:replace="fragments/footer.html :: bootstrap4js"></div>
	<script th:src="@{/js/navigation.js}"></script>
</body>
</html>