<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html :: header">
<title id="pageTitle">Lijst met recepten</title>
</head>

<body>
	<div th:replace="fragments/banner.html :: banner"></div>
	<div id="wrapper">
		<div th:replace="fragments/navigation.html :: main-nav"></div>
		<div id="content-wrapper" class="container">
			<div class="row pull-right">
				<a class="btn btn-success bg-success m-2 " th:href="@{/recipe/create}" role="button">Recept toevoegen</a> 
			</div>
			<h1 class=" pageheader">Recepten</h1>
			<table id="recipeList"	class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Naam</th>
						<th>Type</th>
						<th>Kenmerken</th>
						<th>Waardering</th>
						<th>Plan</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="recipe : ${recipeList}" >
						<td th:text="${recipe.getId()}"></td>
						<td th:text="${recipe.getName()}"></td>
						<td th:text="${recipe.recipeType.getDisplayName()}"></td>
						<td th:text="${recipe.getTagString()}"></td>
						<td class="text-center" th:text="${recipe.getRating()}"></td>
						<td>
						<form th:action="@{'/planning/' + ${recipe.id} + '/new'}" method="post">
    						<input class="btn btn-success bg-success" role="button" type="submit" 
    								name="plan" value="Plan" />
						</form>
					</td>
					</tr>
				</tbody>
			</table>
		</div> <!-- /#content-wrapper -->
	</div> <!-- /#wrapper -->
	<div th:replace="fragments/footer.html :: bootstrap4js"></div>
	<script th:src="@{/js/recipe.js}"></script>
	<script th:src="@{/js/navigation.js}"></script>
</body>
</html>