<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header">
<title id="pageTitle">Lijst met recepten</title>
</head>
<body>
	<div th:replace="fragments/banner.html :: banner"></div>
	<div th:replace="fragments/navigation.html :: main-nav"></div>
	<section class="d-flex flex-column justify-content-center m-4">
		<div class="row justify-content-center mb-3">
			<a class="btn btn-success bg-success m-2 "
					th:href="@{/recipe/create}" role="button">Recept
					toevoegen
			</a>
		</div>
		<form th:object="${ingredientName}"
			th:action="@{recipe/filtered-list}" method="post">
			<div class="form-group form-row">
				<label class="col-1 col-form-label">Filter op ingredient:</label>
				<div class="col-2">
					<select class="form-control combobox" name="id">
						<option></option>
						<option th:each="ingredientNameEach : ${ingredientNameList}"
							th:value="${ingredientNameEach.id}"
							th:selected="${ingredientNameEach.id.equals(ingredientName.id)}"
							th:text="${ingredientNameEach.name}">Naam</option>
					</select>
				</div>
				<button th:if="not ${filter}" type="submit" class="btn btn-success bg-success m-2">Filter aan</button>
				<a th:if="${filter}" class="btn btn-warning bg-warning m-2" th:href="@{/home}">Filter uit</a>
			</div>
		</form>
		<table id="recipeList" class="table table-striped" style="width:100%" >
			<thead>
				<tr>
					<th>Id</th>
					<th>Naam</th>
					<th>Type</th>
					<th>Kenmerken</th>
					<th>Waardering</th>
					<th>Laatst gegeten</th>
					<th>Aantal keer gegeten</th>
					<th>Plan</th>
				</tr>
			</thead>
			<tbody>
				<tr class="mt-2" th:each="recipe : ${recipeList}">
					<td th:text="${recipe.getId()}"></td>
					<td th:text="${recipe.getName()}"></td>
					<td th:text="${recipe.recipeType.getDisplayName()}"></td>
					<td th:text="${recipe.getTagString()}"></td>
					<td class="text-center" th:text="${recipe.getRating()}"></td>
					<td th:text="${recipe.getLastServed()}"></td>
					<td th:text="${recipe.getTimesServed()}"></td>
					<td>
						<form th:action="@{'/planning/' + ${recipe.id} + '/new'}"
							method="post">
							<input class="btn btn-success bg-success" role="button"
								type="submit" name="plan" value="Plan" />
						</form>
					</td>
				</tr>
			</tbody>
		</table>

	</section>
	<div th:replace="fragments/footer.html :: bootstrap4js"></div>
	<script th:src="@{/js/recipe.js}"></script>
	<script th:src="@{/js/navigation.js}"></script>
</body>
</html>